<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Mageguru_Totalipsecurity>
			<version>0.3.1</version>
		</Mageguru_Totalipsecurity>
	</modules>
	<default>
		<magegurutotalipsecurity>
			<totalipsecurityfront>
				<send_emails>0</send_emails>
				<first_limit>1000</first_limit>
				<second_limit>10000</second_limit>
			</totalipsecurityfront>
			<totalipsecurityadmin>
				<send_emails>0</send_emails>
				<first_limit>1000</first_limit>
				<second_limit>10000</second_limit>
			</totalipsecurityadmin>
		</magegurutotalipsecurity>
	</default>
            
	 <admin>
        <routers>
            <totalipsecurity>
                <use>admin</use>
                <args>
                    <module>Totalipsecurity_Totalipsecurity</module>
                    <frontName>totalipsecurity</frontName>
                </args>
            </totalipsecurity>
        </routers>
        <routers>
            <adminhtml>
                 <args>
                     <modules>
                         <totalipsecurity before="Mage_Adminhtml">Mageguru_Totalipsecurity_Adminhtml</totalipsecurity>
                     </modules>
                 </args>
             </adminhtml>
        </routers>
    </admin>
	<adminhtml>
        <menu>
            <totalipsecurity module="totalipsecurity">
			<title>Total Security</title>
			<sort_order>99999</sort_order>               
			<children>
			<items module="totalipsecurity">
			<title>Admin Login Security</title>
			<sort_order>0</sort_order>
			<action>adminhtml/system_config/edit/section/totalsecurity</action>
			</items>
			</children>
                        <children>
                    <first_page module="totalipsecurity">
                        <title>Ip Security</title>
						<sort_order>150</sort_order>
                        <action>adminhtml/totalipsecurity</action>
                        <children>
                        	<viewList module="totalipsecurity">
                        		<title>visitor list</title>
								<sort_order>100</sort_order>
		                        <action>adminhtml/totalipsecurity</action>
                        	</viewList>
                        </children>
                        <children>
                        	<viewBlocked module="totalipsecurity">
                        		<title>Blocked list</title>
								<sort_order>200</sort_order>
		                        <action>adminhtml/totalipsecurity/blocked</action>
                        	</viewBlocked>
                        </children>
                        <children>
                        	<viewWhite module="totalipsecurity">
                        		<title>white list</title>
								<sort_order>200</sort_order>
		                        <action>adminhtml/totalipsecurity/white</action>
                        	</viewWhite>
                        </children>
                        
                        <children>
                        	<viewWatch module="totalipsecurity">
                        		<title>watch list</title>
								<sort_order>400</sort_order>
		                        <action>adminhtml/totalipsecurity/watch</action>
                        	</viewWatch>
                        </children>
                        <children>
                        	<blockOne module="totalipsecurity">
                        		<title>Block ip classes</title>
								<sort_order>500</sort_order>
		                        <action>adminhtml/totalipsecurity/oneip</action>
                        	</blockOne>
                        </children>
						<children>
                        	<blockOne module="totalipsecurity">
                        		<title>Settings</title>
								<sort_order>600</sort_order>
		                        <action>adminhtml/system_config/edit/section/magegurutotalipsecurity</action>
                        	</blockOne>
                        </children>
                    </first_page>
                </children>
	   </totalipsecurity>
        </menu>
        <layout>
	        <updates>
	            <totalipsecurity>
	                <file>mageguru_totalipsecurity.xml</file>
	            </totalipsecurity>
	        </updates>
	    </layout>
	    <translate>
            <modules>
                <totalipsecurity>
                    <files>
                        <default>Mageguru_Totalipsecurity.csv</default>
                    </files>
                </totalipsecurity>
            </modules>
        </translate>
    </adminhtml>
    <global>
    	<events>
        	<controller_front_init_before>
        		<observers>
					<mageguru_totalipsecurity_observer>
                        <type>model</type>
                        <class>Mageguru_Totalipsecurity_Model_Observer</class>
                        <method>checkBlocked</method>
                    </mageguru_totalipsecurity_observer>
        		</observers>
        	</controller_front_init_before>
        </events>
    	<models>
    		<log_mysql4>
	    		<rewrite>
	        	 	<visitor_collection>Mageguru_Totalipsecurity_Model_Mysql4_Totalipsecurity_Collection</visitor_collection>
	        	</rewrite>
        	 </log_mysql4>
        	 <totalipsecurity>
        	 	<class>Mageguru_Totalipsecurity_Model</class>
        	 	<resourceModel>totalipsecurity_mysql4</resourceModel>
        	 </totalipsecurity>
        	 <totalipsecurity_mysql4>
        	 	<class>Mageguru_Totalipsecurity_Model_Mysql4</class>
        	 	<entities>
        	 		<log_remoteaddr_notes>
        	 			<table>log_remoteaddr_notes</table>
        	 		</log_remoteaddr_notes>
        	 	</entities>
        	 	<entities>
        	 		<log_url>
        	 			<table>log_url</table>
        	 		</log_url>
        	 	</entities>
        	 </totalipsecurity_mysql4>
    	</models>
    	<resources>
            <totalipsecurity_setup>
                <setup>
                    <module>Mageguru_Totalipsecurity</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </totalipsecurity_setup>
            <totalipsecurity_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </totalipsecurity_write>
            <totalipsecurity_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </totalipsecurity_read>
        </resources>
        <blocks>
            <totalipsecurity>
                <class>Mageguru_Totalipsecurity_Block</class>
            </totalipsecurity>
        </blocks>
        <helpers>
            <totalipsecurity>
                <class>Mageguru_Totalipsecurity_Helper</class>
            </totalipsecurity>
        </helpers>
    </global>
</config>
